:root {
  --primary: rgba(51, 51, 51, 1);
  --secondary: rgb(241,241,220, 1);
  --primary85: rgba(51, 51, 51, .85);
  --primary65: rgba(51, 51, 51, .65);
  --primary45: rgba(51, 51, 51, .45);
  --primary25: rgba(51, 51, 51, .25);
  --background: #f8f8f5;
  --highlight: rgba(147, 198, 204, .75);
}
* {
  box-sizing: border-box;
}
html {
  margin: 0;
  overflow-x: hidden;
}
body {
  background-color: var(--background);
  color: var(--primary);
  margin: 0;
  position: relative;
  font-family: Helvetica Neue, -apple-system, sans-serif;
  font-size: 1.3em;
}
section {
  padding: 15px 15px 30px 15px;
  max-width: 790px;
  margin: 0 auto;
}
@media (min-width:790px) {
  body {
    padding: 15px 0px 30px 0px;
  }
}
h1, h2, h3, textpath {
  font-family: 'Spectral', serif;
  font-weight: 300;
  line-height: 1.1;
  margin: 15px 0;
}
h1, textpath {font-size: 2.5em;}
h2 {font-size: 3.5em;}
h3 {font-size: 1.5em;}
p {
  margin: 0 0 20px 0;
  line-height: 1.75;
}
.and {
  font-size: .45em;
  font-style: italic;
  bottom: 10px;
  position: relative;
  rotate: 450deg;
}
.rotate {
  rotate: -1deg;

}
header {

  background-color: var(--secondary);
  border-bottom: 2px dotted black;

  align-items: center;
  display: flex;
  justify-content: center;

  padding: 40px 0 20px 0;
  margin: -40px 0 60px 0;

  overflow-x: hidden;
  height: 160px;
}
@media (min-width:790px) {
  header {

  }
}
footer {
  margin-top: 200px;
}
footer img {
  width: 100%;
}
